
@import "grid";

$baseline: 16px !default;
$em-baseline: 13px !default;

$small-columns:4 !default;
$medium-columns:8 !default;
$large-columns:12 !default;
$xlarge-columns:16 !default;

$grid-padding: 1rem !default;
$grid-columns: $small-columns !default; //Mobile first

@include grid-semantics($grid-columns); 


* {
	@include box-sizing(border-box);
}

img {max-width:100%;}

html {text-align:center; font-size: $baseline;}

//Add a bunch of breakpoints
$grid-breakpoints: grid-breakpoints(
	("four" 4),
	("four-only" 0 6),
	("four-down" 0 6),
	
	("six" 6), 
	("six-only" 6 8),
	("six-down" 0 8),
	
	("eight" 8), 
	("eight-only" 8 10),
	("eight-down" 0 8),
	
	("ten" 10), 
	("eight-only" 10 12),
	("eight-down" 0 10),
	
	("twelve" 12), 
	("twelve-only" 12 14),
	("twelve-down" 0 12),
	
	("fourteen" 14), 
	("fourteen-only" 14 16),
	("fourteen-down" 0 14),
	
	("sixteen" 16), 
	("sixteen-only" 16 17),
	("sixteen-down" 0 16)
);

//Create the semantics for each breakpoint
@each $breakpoint in $grid-breakpoints {

	@include grid-breakpoint($breakpoint){
		$-handle: grid-breakpoint-handle($breakpoint);
		$-limit-columns: grid-breakpoint-limit($breakpoint);
		
		body {
			
			@if($-limit-columns != null){
				max-width: grid-width($-limit-columns); //Set max-width to the next breakpoint
			}
			@if($-limit-columns != $grid-columns){
				min-width: grid-width();
			}
		}
		
		// Include semantics classes for testing
		//---------------------------------------------------------------------------------
		@include grid-semantics($prefix: $-handle);
		
		// Setup our main containers.
		//---------------------------------------------------------------------------------
		#container {
			@if($-limit-columns != null and $-limit-columns != $grid-columns){
				@include flux-container($grid-columns, $-limit-columns);
			}@else{
				@include flux-container(0, $grid-columns);
			}
		}
		
		// Add some helper classes for this breakpoint
		//---------------------------------------------------------------------------------
		#{"."+ $-handle +"-hidden"} {
			display:none;
		}
	}
		
}