@import "unity";


$baseline: 16px !default;

$grid-columns: 4 !default; //Mobile first
$grid-legacy: 12 !default; //Number of columns for older browsers that do not support media queries.

$grid-column-width: 68px !default;
$grid-gutter-width: 14px !default;
$grid-unit: rem !default; //Only relevant for static dimensions
$grid-style: static !default;
$grid-padding: 1rem !default;


* {
	@include box-sizing(border-box);
}

img {
	max-width:100%;
}

html {
	text-align: center;
	font-size: $baseline;
}

body {
	font-size: em($em-baseline, $baseline, true); //Sets the body font size to a baseline-relative em and adjusts the global $em-baseline.
	padding: 0;
	margin: 0;
}

//Add a bunch of breakpoints
$grid-breakpoints: grid-breakpoints(
	("four" 4),
  	("four-only" 4 0 6),
  	("four-down" 4 0 6),
	
	("six" 6), 
  	("six-only" 6 6 8),
  	("six-down" 6 0 8),
	
	("eight" 8), 
  	("eight-only" 8 8 10),
  	("eight-down" 8 0 10),
	
	("ten" 10), 
  	("ten-only" 10 10 12),
  	("ten-down" 10 0 12),
	
	("twelve" 12), 
  	("twelve-only" 12 12 14),
  	("twelve-down" 12 0 14),
	
	("fourteen" 14), 
  	("fourteen-only" 14 14 16),
  	("fourteen-down" 14 0 16),
	
	("sixteen" 16), 
  	("sixteen-only" 16 16 18),
  	("sixteen-down" 0 16),
	
	("eighteen" 18), 
  	("eighteen-only" 18 20),
  	("eighteen-down" 0 18),
	
	("twenty" 20),
  	("twenty-only" 20 20 21),
  	("twenty-down" 20 0 21)
);
