//@import "grid";


$grid-width: 320px;
$grid-style: fluid;
$column-width: 60px;
$gutter-width: auto;

@import "../unity-grid";

body {
	padding:0;
	font: em(13px, 1rem) sans-serif;
}

#container {
	@include container;
	text-align:left;
}

.row {
	@include row;
}

.col {
	//border: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 12px rgba(0,0,0,.1);
	
	@include rem(padding 1rem);
	
	&:nth-of-type(2n) {background:#eee;};
	
	> img {width:100%;}
}
