@import "../unity-grid-semantics";


$grid-style: static;
$column-width: 60px;
$gutter-width: 12px;


body {
	padding:0; margin:0;
	font: em(13px, 1rem) sans-serif;
}

#container {
	text-align: left;
}

.col {
	//border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
	
	@include rem(padding 1rem);
	
	&:nth-of-type(2n) {
		background: rgba(0, 0, 0, .05);
	};
	
	> img {width: 100%;}
}


@each $breakpoint in $grid-breakpoints {
	@include grid-breakpoint($breakpoint, $base-level: true){
		body {			
			
			@if(grid-breakpoint-max() == 0){
				&:before {
					content: (grid-breakpoint-columns() + " columns (min "+grid-width()+")");
				}
			}
		}
		
	}
}

@include grid-breakpoint(four, $base-level:true){
	body {color: blue;}
}

@include grid-breakpoint(eight, $base-level:true){
	body {color: green;}
}

@include grid-breakpoint(twelve, $base-level:true){
	body {color: purple;}
}

@include grid-breakpoint(sixteen, $base-level:true){
	body {color: black;}
}