/* line 16, ../sass/unity-grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/unity-grid.scss */
img {
  max-width: 100%;
}

/* line 24, ../sass/unity-grid.scss */
html {
  text-align: center;
  font-size: 16px;
}

/* line 29, ../sass/unity-grid.scss */
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
